
body{
    background-color:#141414;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.max-height-set-500{
    max-height: 500px;
}

.displ-content{
    display: contents;
}
