.card {
	display: inline-block;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
	width: 180px;
    height: 180px;
    perspective: 180px;
  }

  .card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: visible;
  }
  
  .card__face--front {
	transform: rotateY( 180deg );
  }
  
.card__face--back {
	background: blue;
}

.card.is-flipped {
	transform: rotateY(-180deg);
}