.card {
	display: inline-block;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 112px;
  height: 112px;
  perspective: 150px;
  margin: 8px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: visible;
}
  
.card__face--front {
  transform: rotateY( 180deg );
}
  
.card__face--back {
	background: #262626;
}

.card.is-flipped {
	transform: rotateY(-180deg);
}

body {
  background-color:#141414;
  font-family: 'Poppins', sans-serif!important;
}

a {
  text-decoration: none;
}

.max-height-set-500 {
  max-height: 500px;
}

.displ-content {
  display: contents;
}

#x {
  margin-top: 20px;
}

html, body{
  height: 100%;
}