body {
    background-color: #141414;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

video {
    width: 100%;
    height: auto;
}

main {
    display: block;
}

p {
    margin-bottom: 0;
}

.h-200 {
    height: 200%;
}

.max-height-set-500 {
    max-height: 500px;
}

.width-300 {
    width: 350px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-500 {
    max-width: 500px;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-900 {
    max-width: 900px;
}

.th-width {
    width: 20%;
}

.displ-content {
    display: contents;
}

.logo {
    max-height: 80px;
    opacity: 0.9;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>div:hover {
    background-image: none !important;
    background-color: black;
}

.dropdown-item:hover>.dropdown-menu {
    display: block;
}

.dropdown {
    cursor: pointer;
}

.footer-flex{
    flex: 1 1 0px
}

.zoom-on-hover img {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.zoom-on-hover:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.avatar-size-lobby {
    max-width: 200px;
    max-height: 200px;
}

#pageTwo {
    background-color: darkslategray;
}

.lobby-button {
    border-color: #3E9689;
    color: #3E9689;
}

.lobby-button:hover {
    background-color: #3E9689;
    color: black;
}

.tr-user-profile {
    border-bottom-color: #141414;
    border-bottom-width: 3px;
}


.tr-user-profile-1 {
    background-color: #4A2626;
}

.tr-user-profile-2 {
    background-color: #502826;
}

.tr-user-profile-3 {
    background-color: #552a26;
}

.tr-user-profile-4 {
    background-color: #5b2c26;
}

.tr-user-profile-5 {
    background-color: #612e26;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #5e5e5e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
}

::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 7px;
}