body {
    background-color: #141414;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

video {
    width: 100%;
    height: auto;
}

main {
    display: block;
}

.h-200 {
    height: 200%;
}

.max-height-set-500 {
    max-height: 500px;
}

.width-300 {
    width: 350px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-500 {
    max-width: 500px;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-900 {
    max-width: 900px;
}

.displ-content {
    display: contents;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>div:hover {
    background-image: none !important;
    background-color: black;
}

.nav-tabs>.nav-link.active {
    background-color: #141414;
    border-bottom: none;
    border-top: none;
}

.nav-tabs>button {
    border-radius: 0 !important;
}

.dropdown-item:hover>.dropdown-menu {
    display: block;
}

.dropdown {
    cursor: pointer;
}

.avatar-size-lobby{
    max-width: 200px;
    max-height: 200px;
}

#pageTwo {
    background-color: darkslategray;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #5e5e5e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
}

::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 7px;
}