.tr-user-profile-1 {
    background-color: #709ba9;
}

.tr-user-profile-2 {
    background-color: #608f9f;
}

.tr-user-profile-3 {
    background-color: #56818f;
}

.tr-user-profile-4 {
    background-color: #436470;
}

.tr-user-profile-5 {
    background-color: #603939;
}
